<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Баланс на аккаунте</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
</style>
</head>
<body>
<div class="container">
    <h1>Баланс на аккаунте: {{ account_balance }} эфиров</h1>
    <a href="{{ url_for('dashboard') }}" class="btn">На главную</a>
</div>
</body>
</html>