<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href={{ url_for("static", filename="style.css") }}>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p>Выберите действие:</p>
        <a href="/login" class="btn">Авторизация</a>
        <a href="/register" class="btn">Регистрация</a>
    </div>
</body>
</html>